/*position east element on the right side of screen*/
#east {
	float: right;
}
/*position north element at center*/
#north{
	width: 100%;
	height: 400%;
}
/*position south element at bottom*/
#south{
	width: 100%;
	height: 25%;
	bottom:0;
}

#west{
	
}


